{% extends "base.html" %}

{% block content %}
    
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card mt-5">
         <a class="align-center" href="/">
          <div class ="btn btn-primary">Back to LOGIN</div>
         </a>
        
  
        <div class="card-body">
          <div class="card-title py-3">
            <h4>Change Password</h4>
          </div>
          <form action='{% url 'reset-password'%}' method="post">
            {% csrf_token %}
  
            {% include 'common/messages.html'%}
            <div class="form-group">
                <input
                  type="password"
                  name="password1"
                  placeholder="Password"
                  class="form-control form-control-sm"
                  id="passwordField"
                />
                <small class="float-right py-3 showPasswordToggle">SHOW</small>
              </div>
            <div class="form-group">
              <input
                type="password"
                name="password2"
                placeholder="Confirm Password"
                class="form-control form-control-sm"
                id="passwordField"
              />
              <small class="float-right py-3 showPasswordToggle">SHOW</small>
            </div>
            <input type="submit" value="Change my password" class="btn btn-sm btn-primary submit-btn" />
    
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  
{% endblock %}